database:
  driver: "postgres"      # Database driver
  dbname: "task_manager"  # Database name
  username: "postgres"    # Database username
  password: "password"    # Database password
  host: "localhost"       # Host where the database is running
  port: "5432"            # Database port
  maxLifetime: 30         # Maximum connection lifetime (seconds)
  maxOpenConns: 100       # Maximum open connections
  maxIdleConns: 10        # Maximum idle connections

producer:
  user: "guest"    
  password: "guest"   
  host: "localhost"       
  port: "5672"           
  queueName: "celery"         
  exchange: "celery"   

tracing:
  enabled: true
  endpoint: "localhost:4318"
  serviceName: "goreminder-api"
  insecure: true


metrics:
  enabled: true
  addr: ":9191"

server:
  port: 8080